body {
    min-width: 320px;
    font-family: "Lexend Deca", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 2;
    background-color: #fff;
    // @include fonts(15px, 30px, 400, 0.04em);
}

// Notiflix
// .notiflix-notify {
#NotiflixNotifyWrap {
    @media screen and (max-width: 980px) {
        margin: auto !important;
        inset: 82px 10px auto !important;
    }
}
