body {
  min-width: 320px;
  font-family: 'Montserrat Alternates', sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  //   "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include fonts(15px, 30px, 400, 0.04em);
}

.title {
  font-family: "Titan One", cursive;
  text-transform: uppercase;
  color: var(--title-color);
  @include mq(mobile) {
    @include fonts(34px, 39px, 400, 0.04em);
  }
  @include mq(tablet) {
    @include fonts(48px, 55px, 400, 0.04em);
  }
  @include mq(desktop) {
    @include fonts(58px, 66px, 400, 0.06em);
  }
}

.link {
  display: block;
  cursor: pointer;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--accent-font-color);
  }
}