.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    // grid-auto-rows: 380px;
    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    &__link {
        display: flex;
        text-decoration: none;
        height: 100%;
        transition: transform var(--animation-duration) var(--timing-function);
    }

    &__link:hover {
        transform: scale(1.03);
        cursor: zoom-in;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }

    &__icon-wrapper {
        display: flex;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
    }

    &__icon-wrapper:hover &__icon {        
        fill: rgb(63, 87, 179);
        // stroke: rgb(63, 87, 179);
        
    }    

    &__icon {
        // content: "";
        height: 14px;
        width: 14px;
        // background-repeat: no-repeat;
        // background-size: contain;
        margin-right: 4px;
        // display: block;  
    }

    // &__like-icon::before {
    //     background-color: #000;
    //     mask-image: url(../images/likes.svg);
    // }
    // &__views-icon::before {
    //     background-image: url(../images/views.svg);
    // }
    // &__comments-icon::before {
    //     background-image: url(../images/comments.svg);
    // }
    // &__downloads-icon::before {
    //     background-image: url(../images/downloads.svg);
    // }

    &--empty-page::after {
        content: "";
        height: calc(100vh - 120px);
        background-image: url(../images/no-image.png);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: center;
        display: block;
    }
}
