.search {
    &__container {
        display: flex;
        justify-content: center;
        padding: 10px 20px 10px 20px;
        // background-color: #34416c;
        // background-color: #8BC6EC;
        // background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        background-image: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);

        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }

    &__box {
        position: relative;
        width: 100%;
        max-width: 360px;
        height: 60px;
        border-radius: 120px;
        margin: 0 auto;
    }

    &__find-icon {
        left: 5px;
        pointer-events: none;
        font-size: 1.22em;
        will-change: transform;
        transform-origin: center center;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -o-transform-origin: center center;
        transition: transform 400ms 220ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transition: transform 400ms 220ms cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: transform 400ms 220ms cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: transform 400ms 220ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    &__find-icon--rotate {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    &__find-icon,
    &__go-btn {
        top: 0;
        height: 60px;
        width: 68px;
        text-align: center;
        fill: #fff;
        position: absolute;
    }

    &__svg {
        height: 100%;
        width: 24px;
        display: block;
        margin: auto;
    }

    &__go-btn {
        border: none;
        outline: none;
        background-color: transparent;
        right: 5px;
        pointer-events: none;
        // font-size: 1.38em;
        will-change: opacity;
        cursor: default;
        opacity: 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    &__go-btn--goin {
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    //------------------------- Input border -----------------------------
    &__border {
        display: block;
        width: 100%;
        max-width: 360px;
        height: 60px;
    }
    &__border-path {
        fill: none;
        stroke: #ffffff;
        stroke-width: 5;
        stroke-miterlimit: 10;
    }
    &__border-path {
        stroke-dasharray: 740;
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 400ms cubic-bezier(0.6, 0.04, 0.735, 0.99);
        -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.6, 0.04, 0.735, 0.99);
        -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.6, 0.04, 0.735, 0.99);
        -o-transition: stroke-dashoffset 400ms cubic-bezier(0.6, 0.04, 0.735, 0.99);
    }
    &__box--searching &__border-path {
        stroke-dasharray: 740;
        stroke-dashoffset: 459;
        transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.15, 0.205, 1);
        -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.15, 0.205, 1);
        -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.15, 0.205, 1);
        -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.15, 0.205, 1);
    }

    &__box--searching &__input {
        box-shadow: none;
    }

    //------------------------- Input -----------------------------
    &__input {
        font-family: "Montserrat Alternates", sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 120px;
        border: none;
        background: rgba(255, 255, 255, 0);
        padding: 0 68px 0 68px;
        color: #ffffff;
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: -0.015em;
        outline: none;

        @media screen and (min-width: 390px) {
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
            transition: box-shadow 650ms cubic-bezier(0.755, 0.15, 0.205, 1);
        }
    }
    &__input::-webkit-input-placeholder {
        color: #ffffff;
    }
    &__input::-moz-placeholder {
        color: #ffffff;
    }
    &__input:-ms-input-placeholder {
        color: #ffffff;
    }
    &__input:-moz-placeholder {
        color: #ffffff;
    }
    &__input::-moz-selection {
        color: #ffffff;
        background: rgba(0, 0, 0, 0.25);
    }
    &__input::selection {
        color: #ffffff;
        background: rgba(0, 0, 0, 0.25);
    }
}
