#up-button {
    display: none;
    align-items: center;
    justify-content: center;

    // display: inline-block;
    fill: #fff;
    background-color: #ff9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    // opacity: 0;
    // visibility: hidden;
    z-index: 1000;
    cursor: pointer;

    & > svg {
        width: 40px;
        height: 40px;
    }

    &:hover {        
        background-color: var(--hoverBgColor, #333);
    }
    &:active {
        background-color: #555;
    }
    &.show {
        opacity: 1;
        display: flex;
    }

    @media (min-width: 500px) {
        & {
            margin: 30px;
        }
    }
}
